<h1>New slide</h1>

<% form_for @slide, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </p>

  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', slides_path %>
